/*
    Nombre tipografía | peso | tamaño de texto | alto de linea
    Título: Zilla Slab | bold(700) | 70px | 84px
    Título Secundario: Zilla Slab | bold(700) | 50px | 60px
    Título Secundario - extra: Raleway | black(900) | 18px | 23px
    parrafo: Raleway | regular(400) | 18px | 23px
    botones: Raleway | bold(700) | 18px | 23px
*/

/*******************
Fonts
*******************/

/*******************
Variables
*******************/
:root {
    --primary-color: #c2db88cb;
    --secondary-color: #707070;
    --terteary-color: #a0a3a8;
    --quaternary-color: #f5fafd;

    --white-color: #fff;
    --black-color: #000;

    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Zilla Slab', serif;
    --terteary-font: 'Roboto Slab', serif;
}

/*******************
Generals
*******************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*******************
Typography
*******************/
body {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

h1 {
    font-size: 70px;
    line-height: 84px;
}
h2 {
    font-size: 50px;
    line-height: 60px;
}
h3 {
    font-size: 18px;
    line-height: 21px;
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

input,
textarea {
    display: block;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 18px 21px;
    line-height: 23px;
}

input {
    height: 56px;    
}

textarea {
    resize: none; /* no quiero modificar tamaño manualmente */
    height: 175px;   
}

/*******************
Image
*******************/
figure {
    margin: 0;
}

img {
    margin: 0;
}

section {
    display: block;
}

/*******************
Style
*******************/
.main-h {
    background-color: var(--primary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.container-h {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* container */
.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu {
    color: #fff;
	margin: 0 25px;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block; 
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 20px;
    transition: all 0.4s linear;
}

.menu ul li a:hover {
    color:#F4C929;
    text-decoration: underline;
}

.container-f {
    width: 800px;
    padding: 0 10px;
    margin: 0 auto;
}

/*******************
MENU FOOTER
********************/
.main-f {
    background-color: var(--primary-color);
}

.footer-sup {
    display: flex;
    padding-top: 51px;
    padding-bottom: 41px;
}

.footer-sup > *:not(:last-child) a,
.footer-sup > *:not(:last-child) li {
    font-size: 10px; 
}

.footer-sup ul,
.footer-sup ul li,
.footer-sup ul li a {
    width: 220px;
    list-style: none;
}

.footer-sup > :nth-child(4) {
    max-width: 170px;
    width: 19.7674418605%;
    padding-right: 0;
}

.footer-sup > :nth-child(4) li {
    margin-bottom: 0;
    text-align: right;
}

.footer-sup > :nth-child(4) a {
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 21px;
}

.footer-sup > :nth-child(4) i {
    font-size: 24px;
    vertical-align: middle;
}

.footer-sup > :nth-child(4) li:nth-child(1) {
    margin-bottom: 18px;
}

.footer-sup > :nth-child(4) li:nth-child(1) i {
    color: var(--color-wsp);
}

.footer-sup > :nth-child(4) li:nth-child(1) span {
    letter-spacing: 1px;
    padding-left: 5px;
}

.footer-sub {
    padding: 13px 0;
}

.footer-sub nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: bold;
}

.footer-sub nav ul {
    margin: 0;;
}

.footer-sub nav li {
    margin-bottom: 0;
}

.footer-sub nav li:not(:last-child) {
    margin-right: 12px;
}

.footer-sub nav a {
    font-size: 12px;
    line-height: 1;
    text-decoration: underline;
}

.footer-sub p {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-secondary ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-secondary ul li {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.menu-secondary ul li,
.menu-secondary ul li a {
    line-height: 18px;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Banner */
.main-h-banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.h-banner {
    height: 712px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-banner h1 {
    font-family: var(--primary-font);
}

.h-mission {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

.h_mission h2 {
    font-family: var(--terteary-font);  
}

.main-h-galery {
    justify-self: center;
}

.container-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.container-galery .card-2:not(:last-child) {
    margin-right: 44px;
}

.card-2 {
    width: 380px;
    text-align: center;
}

.card-2 figcaption h3 {
    margin-top: 20px;
    margin-bottom: 50px;
}
